body{
display: flex;
align-items: center;
justify-content: center;
}
.container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: auto;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.932);
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}

.container hr{
    height: 2px;
    width: 90%;
    border: none;
    background: black;
}

.ques_dis{
    font-size: 27px;  
    text-align: start;
}

.container ul li {
    font-size: 20px;  
    display: flex;
    width:600px;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
    font-weight:550;
}

.container button{
    margin: auto;
    width: 250px;
    height: 55px;
    color: white;
    background-color: purple;
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;
}
.container .index{
    margin-top: 20px;
    font-size: 18px;
}
.container .correct{
    background: #00ff99;
    border-color: #00d397;
}
.container .wrong{
    background: #ff0080;
    border-color: #FF4A4A;
}

.score{
    text-align: center;
}